.applicationsContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 0 18px 50px;
}

.applications {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.button {
  margin-top: 20px;
}
